@font-face {
	font-family: 'Bebas Neue';
	src:url('assets/fonts/BebasNeueRegular.woff');
	font-weight: normal;
	font-style: normal;
}
*{box-sizing: border-box; margin: 0; padding: 0;}
button {
    appearance: none;
    border: none;
    background: transparent;
    font: inherit;
    cursor: pointer;
}
body{
	width:1024px;
	height:768px;
	overflow:hidden;
	background:#111;
	font-family: sans-serif;
}
.canvas {
	position: relative;
	width: 1024px;
	height: 768px;
}
.canvas-grid {
	position: absolute;
	inset: 0;
	height:768px;
	z-index:1;
	display: grid;
	grid-template-columns: 267px 1fr;
	grid-template-rows: 197px 1fr;
	gap: 24px;	
	padding:12px;
}
.card {
	background: rgba(55,55,55,0.32);
	/*background: rgba(255,255,255,0.1); */
	backdrop-filter: blur(12px) saturate(100%);
	-webkit-backdrop-filter: blur(11px);
	border:1px solid rgba(255, 255, 255, 0.3);
	border-radius: 24px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.weather-card {
	display: flex;
	flex-direction: column;
	justify-content: justify-content;
	align-items: flex-start;
	padding: 24px;
}
.time-card .clock-digits {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 96px;
	line-height: 0.95;
}
.time-card .date {
	font-size:20px;
	margin-top: 5px;
	font-family: 'IBM Plex Serif', sans-serif;
}
.calendar-card {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 24px;
}

.inner-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:12px;
}
.canvas-bg {
	height: 100%;
	width: 100%;
	background-image: url("images/cookieundrocco.jpeg");
	filter: blur(20px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.time-card {
	flex-direction: column
}
.colon {
	animation: blink 1s step-end infinite;
}
@keyframes blink {
	50% {opacity:0;}
}
hr {
	height: 1px;
	background-color: rgba(255,255,255,1);
	border: 3px;
	align-self: stretch;
}
ul {
	list-style: none;
	width: 100%;
}
.events-upnext li {
	display: flex;
	justify-content: space-between;
	padding: 6px 0;
	border-bottom: 1px solid white;
}
.calendar-upnext-event {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.events-upnext .item-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 142px;
}

.eyebrow {
	font-size:13px;
	opacity: 0.80;
	font-family: 'IBM Plex Serif', serif;
}
.later-today {
	margin-top: 5px;
	margin-bottom: 5px;
}
.calendar-upnext-time {
	font-family: "Bebas Neue", sans-serif;
	font-size: 70px;
}
.upnext-event-name {
	font-size:17px;
	font-family: 'IBM Plex Serif', serif;
}
.upnext-event-intime {
	font-size:17px;
	font-family: 'IBM Plex Serif', serif;
}
.item-time {
	font-family: 'IBM Plex Serif', serif;
	opacity: 0.7;
  	font-size: 16px;
}
.item-title{
	font-family: 'IBM Plex Serif', serif;
  	font-size: 16px;
}
.events-upnext {
	font-family: "IBM Plex Serif";
}
.weather-icon {
	height: 30px;
	width: 30px;
}
.temperature {
	font-family: "Bebas Neue";
	font-size: 50px;
}
.high-low-temp{
	font-size:15px;
	font-family: 'IBM Plex Serif', serif;
}
.weather-condition {
	font-size:17px;
	font-family: 'IBM Plex Serif', serif;
}

.song_name_text{
	font-family:"Bebas Neue", sans-serif;
	font-size: 26px;
}
.artist_name_text{
	font-family:"IBM Plex Serif", serif ;
	font-size: 20px;
}
.button_icon {
	height: 30px;
	width: 30px;
	fill: white;
}
.eq{
	display: flex;
	align-items: flex-end;
	gap: 4px;
	height: 20px;
}
.eq span {
	width: 4px;
	height:100%;
	background: white;
	border-radius: 3px;
	animation: eq 2.1s ease-in-out infinite;

}
@keyframes eq {
    0%, 100% {
        transform: scaleY(0.2);
    }

    50% {
        transform: scaleY(1);
    }
}

.eq span:nth-child(1) {
    animation-delay: -0.8s;
}
.eq span:nth-child(2) {
    animation-delay: -0.3s;
}
.eq span:nth-child(3) {
    animation-delay: -1s;
}
.eq span:nth-child(4) {
    animation-delay: -0.6s;
}
.eq span:nth-child(5) {
    animation-delay: -0.1s;
}
.eq.paused span {
	animation-play-state: paused;
	transition: transform 0.4s ease;
	transform: scaleY(0.25);
}
.media-card{	
	flex-direction: column;
	padding: 24px;
	display: flex;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
}
.progress_line {
	margin-top: 5px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.progress_rail {
	/* position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	flex: 1;
	border-radius: 2;
	background: rgba(255, 255, 255, 0.1);
	height: 4px;
	width: 100%;
}
.progress_bar {
	height: 100%;
	width: 0%;
	background: currentColor;
	opacity: 0.55;
	transition: width 0.5s linear;
}
.music_time_label{
	font-size: 9 px;
	font-family: "IBM Plex Serif";
	font-variant-numeric: tabular-nums;
}